.carts {
  table {
    border-collapse: collapse;
  }
  td {
    padding: 1em;
  }
  td.quantity {
    white-space: nowrap;
  }
  td.quantity::after {
    content: " ×";
  }
  td.price {
    font-weight: bolder;
    text-align: right;
  }
  tfoot {
    tr,
    th.price {
      font-weight: bold;
      padding-top: 1em;
    }
    td {
      text-align: right;
    }
    td.price {
      border-top: solid thin;
    }
  }
  button[type="submit"] {
    background-color: #881;
    border-radius: 0.354em;
    border: solid thin #441;
    color: white;
    font-size: 1em;
    padding: 0.354em 1em;
  }
  button[type="submit"]:hover {
    background-color: #992;
  }
}
#cart {
  article {
    h2 {
      margin-top: 0;
    }
    background: white;
    border-radius: 0.5em;
    margin: 1em;
    padding: 1.414em;
    @media (min-width: 30em) {
      margin: 0;
    }
  }
}
